certifi==2017.7.27.1
chardet==3.0.4
gglsbl==1.4.5
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.6
oauth2client==4.1.2
pyasn1==0.3.2
pyasn1-modules==0.0.11
PyYAML==4.2b1
requests==2.20.0
rsa==3.4.2
rtmbot==0.4.0
six==1.10.0
slackclient==1.0.7
uritemplate==3.0.0
urllib3==1.24.2
websocket-client==0.44.0
